@model ProductEditModel

@using (Html.BeginForm("EditProduct", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="control-label col-sm-2">Identifier </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", disabled = "disabled" })
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationMessageFor(m => m.Id)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">Name </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">Price </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">Description </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" class="btn btn-info" value="Save" />
        </div>
    </div>
}
<style>
    .field-validation-error {
        border-radius: 4px;
        padding: 3px;
        display: inline-block;
        margin: 3px 0;
        font-weight: bold;
        background-color: #d9534f;
    }
</style>
